body {
  margin: 0;
  font-family: sans;
}

.App {
  font-size: 14px;
}

.App-header > p {
  padding: 10px 0 0 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

.App-logo {
  pointer-events: none;
  width: 150px;
}

.App-header {
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  min-width: 100px;
  padding: 10px;
}

.App-settings {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}
